html, body, #root, #container, h1, h2 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#container {
    display: flex;
    flex-direction: column;
}
h1 {
    flex: 0 1 auto;
    height: 80px;
    font-size: 3em;
}
#topline {
    flex: 0 1 auto;
    text-align: center;
}
#leftcolumn, #rightcolumn {
    display: inline-block;
    width: 300px;
    padding: 0 30px;
    margin: 30px 0;
}
#leftcolumn {
    text-align: right;
    border-right: 1px  rgb(75, 192, 192) solid;
}
#rightcolumn {
    text-align: left;
    border-left: 1px  rgb(75, 192, 192) solid;
}
h2 {
    flex: 0 1 auto;
    height: 50px;
    font-size: 1.8em;
}
#bottomline {
    flex: 1 1 auto;
    margin: 0 15px 15px 15px;
}
.amount {
    margin-right: 20px;
}
.hidden {
    color: grey;
    text-decoration: line-through;
}
.highlight {
    color: rgb(75, 192, 192);
}
abbr {
    color: grey;
    padding: 0 4px;
    margin: 0 4px;
    border-radius: 8px;
    border: 1px solid;
    text-decoration: none;
    font-size: 10px;
    cursor: help;
}
input {
    border: none;
    padding: 0;
    font-size: 1em;
    background: none;
    background: none;
    text-align: right;;
}
input[type=text] {
    outline: none !important;
    margin-left: 10px;
    width: 65px;
}
input[type=text]:focus {
    color: white;
    background-color: rgb(75, 192, 192);
}
input[type=submit] {
    outline: none !important;
    cursor: pointer;
    margin-right: 80px;
    color: rgb(75, 192, 192);
}
select {
    outline: none !important;
    border: none;
    cursor: pointer;
    margin: 0 0 0 3px;
    font-size: 1em;
    color: rgb(75, 192, 192);
}